<!DOCTYPE html>
<html>
<head>
	<title>Stirchley Stores</title>
	<meta name="description" content="Stirchley Stores">
	<meta name="keywords" content="food, coop, store, stirchley, birmingham">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>
<body>
	
	<header class="container">
		<p id="branding">Stirchley Stores</p>
		<nav id="external_navigation">
			<ul>
				<li><a href="http://bhmfoodcoop.wordpress.com/">Visit our Blog</a></li>
				<li><a href="http://bhmfoodcoop.wordpress.com/contact/">Contact us</a></li>
			</ul>
		</nav>
	</header>
	
	<nav id="social" class="container">
		<ul>
			<li><a class="facebook" href="http://en-gb.facebook.com/pages/Stirchley-Stores/375189872503021">Facebook</a></li>
			<li><a class="twitter" href="https://twitter.com/stirchlystore">Twitter</a></li>
		</ul>	
	</nav>
	
	<div id="primary_content" class="container">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<%= yield %>
	</div>

</body>
</html>
